/* @import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
} */
.wrapper {
  width: 100%;
}
.carousel {
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
}

.carousel .card-slide img {
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

/* .owl-dots {
  text-align: center;
  margin-top: 40px;
}
.owl-dot {
  height: 15px;
  width: 45px;
  margin: 0 5px;
  outline: none;
  border-radius: 14px;
  border: 2px solid #fa5e4d !important;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
} */
/* .owl-dot.active,
.owl-dot:hover {
  color: #fa5e4d !important;
} */




/* Navs */
/* .owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav {
  margin-top: 0px;
}
.owl-theme .owl-nav [class*="owl-"] {
  display:flex;
  align-items: center;
  color: rgb(179, 179, 179) !important;
  font-size: 50px !important;
  margin: 0 20px;
  padding: 4px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: #fff;
  color: #fa5e4d!important;
  text-decoration: none;
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
} */
/* Navs */



/* Dots */
/* .owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #fa5e4d;
} */



@media (max-width:999px) {
    .owl-theme .owl-dots .owl-dot {
        display: inline-block;
        zoom: 1;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 10px;
        height: 10px;
        margin: 5px 7px;
        background: #d6d6d6;
        display: block;
        -webkit-backface-visibility: visible;
        transition: opacity 0.2s ease;
        border-radius: 30px;
    }
    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
        background: #ffc107;
    }

    .owl-dots{
      text-align: center;
    }

    /* ======== Mr Jeff ======== */
    #mrjeff .owl-theme .owl-dots .owl-dot.active span,
    #mrjeff .owl-theme .owl-dots .owl-dot:hover span {
        background: #004368;
    }
}